<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Cyderes Assessment</title>
      <link rel="stylesheet" href="./static/styles.css"/>
  </head>
  <body>
  <h1>Cyderes Assessment</h1>
  <p>API that returns JSON data of valid IPv4/v6 address or domain. Append the IP address or domain to the URL to send the API request</p>
  <!-- <form action="/<domain>" method="GET">
    <div>
        <label for="src">Enter domain:</label><br>
        <input type="text" id="src" name="src"><br><br>
        <button type="submit">Send</button>
    </div>
</form> -->
</html>
